@{
    ViewBag.Titulo = "Inicio";
}

<h2>Index</h2>

@section scripts{
    <script src="@Url.Content("~/Assets/dist/js/pages/inicio.js")"></script>
    <script>
        $(function () {
            inicioPage.init();
        });
    </script>
}